/* short hand font:
        - font-style font-weight font-size font-family;

    short hand boder:
        - tamanho estilo cor;
    
    Comando para montar variáveis no CSS:
        :root {
            --nome: 
        } 
        Para declarar escreve-se 'var'
*/
@charset "UTF-8";
@font-face {
    font-family: 'banditos';
    src: url('fontes/IFC\ LOS\ BANDITOS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'milonga';
    src: url(fontes/Milonga-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Tipos de format():
        - opentype (otf)
        - truetype (ttf)
        - embedded-opentype
        - truetype-aat (Aple Advanced Typography)
        - svg

    Em HTML é id = em CSS é #;
    Em HTML é class = em CSS é .;
    É possível usar duas classes e id + classe. Id se sobrepõe.
*/

body {
    font: normal 14pt arial;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
    text-align: center;
}

header {
    height: 50px;
    display:flex;
    padding: 1% 0 1% 1%;
    
}
header > img {
    margin-right: auto;
}
nav {
   display: inline-flex;
   margin-right: 1%;
  
}

nav > a {
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: black;
}
nav > a:hover {
    text-decoration: underline;
}

nav > a > img {
    border-radius: 3px;
    opacity: 70%;
}
nav > a > img:hover {
    box-shadow: -1px .5px  rgba(0, 0, 0, 0.277);
    opacity: 100%;
}

img#insta:hover {  
    border-radius: 6px;
}

li {
    width: 120px;
    margin: 5px; 
}


div#logo {
    background-color: black;
    margin-bottom: -5px;
}

.trans > img {
    width: 100%;
}

div#flor {
    background-color: #fff451;
    margin-top: -7px;
    margin-bottom: -3px;
}

div#descriçao {
    background-color: black;
    padding: 1px;
    color: #fff;
    width: fit-content;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -7px;
    margin-bottom: -3px;
   
}
div#descriçao > h1 {
    font-size: 1.5em;
    font-weight: lighter;
} 
div#descriçao > p {
    width: 40%;
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: lighter;
}

div#info {
    display: flex;
    font-size: 1.2em;    
}

div#info > p {
    margin: 30px;
    text-decoration: none;
}
abbr {
    text-decoration: none;
}


div#prece {
    margin: auto;
    background-color: #fff;
    margin-top: -20px;
    margin-bottom: 3em;
}

div#prece > p {
    line-height: 2em;
    font-family: milonga;
}

form {
    max-width: 600px;
    width: 80%;
    margin: auto;
}
form p {
    margin: auto;
    width: 80%;
    
    
    
}
form input {
    width: 30%;
    border-radius: 5px;
    border-style:none;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.066);
    
}
fieldset {
    border: none;
    
}
textarea {
    width: 80%;
    border-radius: 5px;
    padding: 15px 15px;
    background-color: #00000016;
    border: none;
}
#but {
    text-align: right; 
    margin: auto;
    width: 80%;
}
button {
    padding: 5px 10px;
    font-weight: bolder;
    border: none;
    box-shadow: 1px 1px 3px #0000002f;
    color: #fff;
    border-radius: 3px;
}
#env {
    background-color: rgb(32, 174, 103);
}
#limp {
    background-color: rgba(0, 0, 0, 0.359);
}

footer {
    height: 50px;
    display: flex;
    font-size: small;
    align-items: center;
    background-color: rgba(255, 255, 0, 0.114);
    
}

footer > p {
    margin: auto
}

@media (max-width: 768px) {
    div#descriçao > h1 {
       font-size: 1.2em;
       width: 80%;
    }
    div#descriçao > p {
        width:60%;
     }
}
@media (max-width: 680px) {
    div#descriçao > h1 {
        font-size: 1em;
     }
     
}
@media (max-width: 630px) {
    div#descriçao > p {
        font-size: .9em;
     }
     nav > a {
        font-size: .8em;
     }
     form {
        display: flex;
        flex-direction: column;
     }
     form p {
        display: flex;
        flex-direction: column;
        align-items: center;
     }
     form input {
        width: 80%;
        margin-top: 5px;
     }
     
}
@media (max-width: 600px) {
    div#info {
        font-size: 1em;
    }
    div#info p {
        margin:20px;
    }
    div#prece p {
        font-size: .8em;
    }
    #contato h2 {
        font-size: 1em;
    }
}
@media (max-width:450px) {
    nav {
        align-items: center;
    }
    nav > a {
        margin:5px;
        font-size: .5em;
        padding: 2px;
    }
    #contato p {
        font-size: .8em;
    }
    div#prece p {
        font-size: .7em;
    }
    form {
        width: 100%;
    }
    div#info p {
        margin:15px;
    }
    div#descriçao > p {
        font-size: .8em;
     }

}